<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274679098293-f8klu7qddafsavmuj31sskjr61l6qk00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274679098293-f8klu7qddafsavmuj31sskjr61l6qk00</string>
	<key>API_KEY</key>
	<string>AIzaSyATy7tgpVfuYkoz13LqPDZv9T0ME9qxTf4</string>
	<key>GCM_SENDER_ID</key>
	<string>274679098293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nariously.Pepe-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>frogchatios13</string>
	<key>STORAGE_BUCKET</key>
	<string>frogchatios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274679098293:ios:eb1c2ffd35f2b810ffc7fc</string>
	<key>DATABASE_URL</key>
	<string>https://frogchatios13.firebaseio.com</string>
</dict>
</plist>